<h3>Create an Account!</h3>
<%= form_for :user, url: users_path do |f| %>
Name: <%= f.text_field :name%><br>
Email: <%= f.text_field :email%><br>
Password: <%= f.text_field :password%><br>
<%= f.submit "Create" %>
<% end %>

<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<h3>Login!</h3>
<%= form_for :session, url: sessions_path do |f| %><br>
Email:<%= f.text_field :email %><br>
Password:<%= f.text_field :password %><br>
<%= f.submit "Login" %><br>
<% end %>