
<div class="user_form">
<h2>Your Profile</h2>
  <%= @user.name %><br> 

  <%= link_to "Edit", edit_user_path %>
  <%= link_to "Delete", user_path, :method => "delete" %>
</div>

<div class="questions">
  <h1>Questions</h1>
  <ul class="questions">
  <% @user.questions.each do |q| %>
    <li><a href="/questions/<%= q.id %>"><%= q.content %></a></li>
  <% end %>
  </ul>
</div>


<div class="answers">
  <h1>Answers</h1>
  <ul class="answers">
    <% @user.answers.each do |a| %>
    <li><%= a.content %></li>
    <% end %>
  </ul>
</div>
