<h3><a href="<%= @post.url %>"><%= @post.title %></a></h3>
<p>Posted by <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a></p>
<p>CURRENT VOTES: <span id="vote_count"><%= @post.vote_count %></span></p>

<form data-post-id="<%=@post.id%>" id="post_upvote" method="post" action="/posts/<%= @post.id %>/upvote">
  <input type="submit" value="Upvote">
</form>
<br />
<form id="post_downvote" data-post-id="<%=@post.id%>" method="post" action="/posts/<%= @post.id %>/downvote">
  <input type="submit" value="Downvote">
</form>

<% if @comments %>
  <% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p>-<a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a></p>
  <% end %>
<% end %>

<h3>Make a comment!</h3>
<form method="post" action="/comments/new">
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <textarea name="comment[content]" rows="5" col="30"></textarea>
  <br / ><input type="submit" value="Comment">
</form>
